body {
    margin: 0;
    font-family: 'Cabin', sans-serif;
    background-image: url(https://images.unsplash.com/photo-1541690212779-7a48c04096cb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: auto;
    
}

.navBar {
    position: fixed;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    height: 60px;
    justify-content: start;
    align-items: center;
    width: 100vw;
}


.navBar a {
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
    color: white;
}

.navLink:hover {
    background-color: rgb(104, 104, 104);
}

.navLink {
    margin-left: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.mainContainer{
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: row;
    
    margin-top: 120px;
    max-width: 60%;
    color: white;
    background-color: rgb(141, 140, 140, .3);
}

.mainContainer h1{
    font-size: 45px;
    margin: 10px;
}

.mainContainer p{
    font-size: 20px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

@media screen and (max-width: 700px) {
    .mainContainer{
        max-width: 80%;
    }
    
    .mainContainer h1{
        font-size: 5vw;
    }

    .mainContainer p {
        font-size: 4.1vw;
    }

}